* {
  box-sizing: border-box;
}

html {
  font-size: calc(1em + 1vw);
}

body {
  font-family: Arial(sans-serif);
  margin: 0;
  background-color: #dd9393; 
}

#logo {
  max-width: 100%;
  height: auto;
}

header {
  text-align: center; 
  background-size: cover; 
  padding: 0 0 1rem 0;
}

header nav ul {
  margin: 1rem 0 0 0;
  padding: 0;
}

header nav span a {
  font-weight: 700;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  min-height: 10vh; 
  background-color: white; 
}

.nav-links {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 15%;
  margin-right: -25%;
  margin-left: 0%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;; 
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: bold; 
  font-size: 14px;
  padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
  background-color: #e6bd43;
}

.nav-links li a.active {
  background-color: #e6bd43;
}



nav a {
  text-decoration: none; /* ingen dekor rundt tekst-linkene */
  color: black; /* Sort tekst */
  padding: 1rem; /* Avstand rundt lenkene */
  display: inline-block; /* Lenkene står ved siden av hverandre */
}

main {
  text-align: center; /* Tekstens hovedinnhold er senterjustert */ 
}


main section h2 {
  margin: 2rem 0; /* avstand til bunnen og toppen av underoverskrift */ 
}

article {
  max-width: 1700px;
  min-width: 500px;
  width: 100%;
  margin: 2rem auto;
  background-color: grey;
}

main section article img {
  width: 100%;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em; 
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; 
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0; 
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
  font-size: 0.8rem;
  margin: 15px;
}

.read-more-btn { /* Styling for les-mer knapp */ 
  background-color: #e6bd43;
  color: #fff;
  display: inline-block; 
  padding: 1rem;
  text-decoration: none;
  margin: 2rem auto;
  font-size: 0.8rem;
}

#services-section { /* Seksjonen på index, med id services */
  text-align: center;
  padding: 2rem 0; 
}
#services-section p { /* Style for paragraf */
  text-align: justify; 
}


#our-services-section { /* Seksjonen på about.html, med id our-service */
  text-align: center;
  padding: 2rem 0;
}

#our-service-section p {  /* Style for paragraf */
  text-align: justify;
}

#sec-about-section { /* Seksjonen for sec-about, med id about */ 
   text-align: center;
   padding: 2rem 0;
}

#sec-about-section p { /* Style for paragrafer */ 
  text-align: justify;
}

#contact-section { /* Seksjonen på about, med id contact */
  background-color: green;
  display: inline-block;
  text-align: center;
  padding: 2rem 0;
}

#contact-section p {
  text-align: justify;
}

#clients-section { /* Seksjon på about, med id CLIENTS */ 

background-color: #e6bd43;  
flex-wrap: wrap;
display: inline-block;
text-align: center;
padding: 2rem 0;
font-size: 25px;
}

/* SEKSJONENE PÅ PRODUCTS.HTML */
#branding,
#design,
#development {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

#branding section,
#design section,
#development section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#branding article,
#design article,
#development article {
  flex: 1;
  max-width: 350px;
  min-width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
}




footer {
  text-align: center;
  background-color:#252525;
  color: white;
  padding: 2rem;
}

#footer-logo {
  max-width: 100px;
  margin-right: 10px;
}

/* KILDER LIGGER I DOKUMENT */
.fa { /* Lenker til sosiale medier i FOOTER */ 
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook { /* Faceook ikon */
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white; 
}

.fa-linkedin { /* Linkedin ikon */
  background: #007bb5;
  color: white;
}

/* Media quieries / responsitvt design / Mobile first */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  nav a {
    margin: 10px 0;
  }

  #branding article,
  #design article, 
  #developement article {
    max-width: 100%;
  }
}

/* Skjermer som er MINST 768px og bredere */ 
@media screen and (min-width: 768px) {
  nav {
    display: flex; 
  }
}




/* 
/* SEKSJONEN DESIGN *
#design {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

#design section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#design article {
  flex: 1;
  max-width: 350px;
  min-width: 200px;
  border: 1px solid #ddd; 
  padding: 10px;
  margin: 10px;
} */






