* {
  box-sizing: border-box;
}

html {
  font-size: calc(1em + 1w);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #dd9393; 
}

header {
  text-align: center; 
  background-size: cover; 
  padding: 0 0 1rem 0;
}

header nav ul {
  margin: 1rem 0 0 0;
  padding: 0;
}

header nav span a {
  font-weight: 700;
  text-transform: uppercase;
}

nav a {
  text-decoration: none; /* ingen dekor rundt tekst-linkene */
  color: black; /* Sort tekst */
  padding: 1rem; /* Avstand rundt lenkene */
  display: inline-block; /* Lenkene står ved siden av hverandre */
}

main {
  text-align: center; /* Tekstens hovedinnhold er senterjustert */ 
}


main section h2 {
  margin: 2rem 0; /* avstand til bunnen og toppen av underoverskrift */ 
}

article {
  max-width: 350px;
  min-width: 200px;
  width: 100%;
  margin: 1rem auto;
  background-color: white;
}

main section article img {
  width: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
  margin: 15px;
}

.read-more-btn { /* Styling for les-mer knapp */ 
  background-color: #e6bd43;
  color: #fff;
  display: inline-block; 
  padding: 1rem;
  text-decoration: none;
  margin: 0.5rem;
}

#services-section { /* Seksjonen på index, med id services */
  text-align: center;
  padding: 2rem 0; 
}
#services-section p { /* Style for paragraf */
  text-align: justify; 
}


#our-services-section { /* Seksjonen på about.html, med id our-service */
  text-align: center;
  padding: 2rem 0;
}

#our-service-section p {  /* Style for paragraf */
  text-align: justify;
}

#sec-about-section { /* Seksjonen for sec-about, med id about */ 
   text-align: center;
   padding: 2rem 0;
}

#sec-about-section p { /* Style for paragrafer */ 
  text-align: justify;
}

#contact-section { /* Seksjonen på about, med id contact */
  background-color: green;
  display: inline-block;
  text-align: center;
  padding: 2rem 0;
}

#contact-section p {
  text-align: justify;
}

#clients-section { /* Seksjon på about, med id CLIENTS */ 

background-color: #e6bd43;  
flex-wrap: wrap;
display: inline-block;
text-align: center;
padding: 2rem 0;
font-size: 25px;
}

/* KILDER LIGGER I DOKUMENT */
.fa { /* Lenker til sosiale medier i FOOTER */ 
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook { /* Faceook ikon */
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white; 
}

.fa-linkedin { /* Linkedin ikon */
  background: #007bb5;
  color: white;
}





