* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1600px;
}

#logo {
  max-width: 100%;
  height: auto;
}

header { /* vil ha alt av innhold på lik bredde */
  text-align: center; 
  background-size: cover; 
  padding: 0 0 1rem 0;
  max-width: 1600px;
  margin: 0 auto;
}

header nav ul {
  margin: 1rem 0 0 0;
  padding: 0;
}

header nav span a {
  font-weight: 700;
  text-transform: uppercase;
}

nav { /* vil ha lik bredde av alt innhold på siden */
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  min-height: 10vh; 
  background-color: white; 
  max-width: 1600px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 10%;
  margin-right: 0%;
  margin-left: 0%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;; 
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: bold; 
  font-size: 14px;
  padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
  background-color: #e6bd43;
}

.nav-links li a.active {
  background-color: #e6bd43;
}



nav a {
  text-decoration: none; /* ingen dekor rundt tekst-linkene */
  color: black; /* Sort tekst */
  padding: 1rem; /* Avstand rundt lenkene */
  display: inline-block; /* Lenkene står ved siden av hverandre */
}

main {
  text-align: center; /* Tekstens hovedinnhold er senterjustert */ 
}


/* Index.html */ 

/* Seksjon Headliner i index.html */ 
#comp-headline {
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
#comp-headline h1 {
  font-size: 50px;
  height: 100%;
  width: 100%;
  text-align: center; 
  padding: 4em;
  margin: 10%;
  font-weight: 900;
}




main section h2 {
  margin: 2rem 0; /* avstand til bunnen og toppen av underoverskrift */ 
}

article {
  max-width: 1600px;
  min-width: 500px;
  width: 100%;
  margin: 1rem auto;
  background-color: #ddd6d6;
}

main section article img {
  width: 100%;
}



/* Seksjon Headliner i index.html NYE */ 
#headliner {
  display: inline-block; 
  background-color: #b9b6b6;
  height: 100%;
  width: 100%;
  margin: 0px;
}

#headliner h1 {
  font-size: 45px;
  text-align: center;
  background-color: transparent;
  font-weight: 800;
  margin-bottom: -5%;
}

#headliner p {
  font-size: 15px;
  text-align:  center;  
}
#headliner .read-more-btn {
  background-color: #e6bd43;
  color: #000000;
  display: inline-block; 
  padding: 1rem;
  text-decoration:  none;
  margin: 2rem auto;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  padding: 20px 35px;
  font-size: 26px
}

#engaging-head {
  display: inline-block;
  background-color: white; 
  height: 100%;
  width: 100%;
  margin: 0px;
}
#engaging-head h2 {
  font-size: 20px;
  text-decoration: none; 
  text-align: center;
  font-weight: 600;
}
#engaging-head p {
    font-size: 15px;
  text-align:  center; 
}



/* Seksjonen our-company-about i index.html */


#our-company-about .read-more-btn {
  background-color: white;
  color: black; 
  border-style: solid;
  font-weight: 700;
  margin: 4%;
}


#our-company-about {
  display: flex;
  flex-wrap: wrap; 
  border: solid;
  color: black;
}
.blank-grey,
.about-company {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.blank-grey,
.about-company {
  width: 40%;
  padding: 15px;  
}
#our-company-about img {
  width: 70%;
  padding: 15px; 
}

#our-company-about h2 {
  font-size: 20px;
  text-decoration: none;
  margin: 10%;
}
#our-company-about p {
  font-size: 15px;
  text-align: left;
  margin: -10%;
}









#services-section { /* Seksjonen på index, med id services */
  text-align: center;
  padding: 2rem 0; 
}
#services-section p { /* Style for paragraf */
  text-align: justify; 
}


#our-services h2 {
  font-weight: bold;
}
/* Grid for seksjonen OUR SERVICES og CLIENTS */
.grid {
  display: flex;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 15px;
  justify-content: center; 
}

.grid figure:first-child {
  margin-right: 0; 
}


.grid img {
  width: 40px;
  
}

.grid p {
  font-size: 15px;
}

#clients {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #e6bd43;
  align-items: unset;
  max-width: 1600px; /* Maks vidde her også */
  width: 100%; /* Sånn at containeren tar hele bredden */
  padding: 50px;
  justify-content: space-between;
}

#clients h2 {
  font-size: 1.9em; /* You can adjust the font size as needed */
  color: #000; /* Set the desired text color */
  margin-bottom: 20px; /* Adjust the margin as needed */
}


#clients article {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6%;
  height: 0px;
}

#clients article img {
  display: flex;
  width: 100px;
  height: 100px;
  background-color:transparent; 
  
}



#newsletter-container {
  background-color: #f8f3f3;
  margin: 10px;
  padding: 10px;

}

#container {
  display: inline-block; 
  width: 100%; 
  max-width: 1600px;
}

.newsletter-form {
  border: 0px solid #ccc;
  font-size: 10px;

}
.container {
  height: 15em;
  width: 50em;
  padding: 20px;
  font-size: 10px;
}
.form-group {
  display: inline-block; 
  align-items: center; 
}
.email-input {
  margin-right: 50px;
  font-size: 10px;
}

.signupbtn {
  display: inline-block;
  margin-top: 1px;
}

#contact-us {
 display: flex;
 justify-content: space-between;
 height: 45vh; 
} 

#contact-us h2 {
  position: absolute;
  font-size: 0.9rem;
  margin-left: 35%;
}

#contact-us h3 {
  position: relative;
  font-size: 0.5rem;
  top: 20%;
}


address {
  position:  relative;
  top: 35%;
}


/* H4 tekst for products.html */
h4 {
  font-size: 25px;
  text-align:  left;
  margin: 1%;
  font-weight: 800;
  text-decoration: underline #e6bd43;
  text-underline-offset: 10px; 
}

/* PRODUCTS.HTML */

h1 {
  font-size: 50px; 
  height: 5em;
  background-color: grey;
  text-align: center;
  padding: 1.5em; 
  font-weight: 800;
}

h2 {
  font-size: 25px;
  text-align: left;
  margin: 1%;
  font-weight: 800;
  text-decoration: underline #e6bd43;
  text-underline-offset: 10px
}

/* NAVIGASJON PÅ PRODUCTS.HTML */
#main-navigation {
  background-color: white;
  padding: 20px;
  place-content: start;
}

#main-navigation ul {
  list-style: none;
  margin: 4%;
  padding: 1%;
  display: flex;
}


#main-navigation a {
  text-decoration: none;
  color: #000;
  font-weight: 650;
  text-align: left;
  border: 0.5px solid grey; 
  display: flex;
  margin: 0.3em;
 
}

#main-navigation a:hover {
  background-color: #e6bd43;
  font-weight: 800;
  text-decoration:underline;
}



.read-more-btn { /* Styling for les-mer knapp */ 
  background-color: #e6bd43;
  color: #000000;
  display: inline-block; 
  padding: 1rem;
  text-decoration: none;
  margin: 2rem auto;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  padding: 20px 35px;
  font-size: 26px
  
}

/* SEKSJONER PÅ PRODUCTS.HTML */
#branding,
#design,
#development {
    display: flex;
    flex-wrap: wrap;
}

.left-branding,
.middle-branding,
.right-branding,
.leftunder-branding,
.left-design,
.middle-design,
.right-design,
.left-development,
.right-development {
    width: 100%;
    padding: 5px;
    background-color: white;
}

#branding {
  display: flex;
  flex-wrap: wrap;
}

.left-branding,
.middle-branding,
.right-branding,
.leftunder-branding {
    padding: 5px;
    background-color: white;
}

.left-branding,
.middle-branding,
.right-branding {
    width: 30%;
}

.leftunder-branding {
    width: 50%;
  float: left;
  margin: 1%
}

#branding h3 {
  font-size: 18px;
  text-align: left;
}

#design {
  display: flex;
  flex-wrap: wrap;
}
.left-design, 
.middle-design,
.right-design {
  padding: 5px;
  background-color: white;
}
.left-design, 
.middle-design,
.right-design {
  width: 30%;
}
#design h3 {
  font-size: 18px;
  text-align: left;
}

#developement {
  display: flex;
  flex-wrap: wrap;
}
.left-developement,
.right-developement {
  padding: 5px;
  background-color: white;
}
.left-developement,
.right-developement {
  margin: 1%;
  width: 48%;
}
#developement h3 {
  font-size: 18px;
  text-align: left;
}






/* Newsletter */ 
#newsletter-form {
  background-color: #f2eeee;
  padding: 5px;
  height: 100%;
  width: 100%;
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items:  baseline;
  margin-left: 50em;
  margin-bottom: 5em;
}


.form-inline label {
  margin: 0px 5px 0px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 0px 5px 0px 0;
  padding: 10px;
  background-color: #fff;
  border: 5px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #e6bd43;
  border: 5px solid #ddd;
  color: black;
  cursor: pointer;
  font-weight: bolder;
}


.form-inline button:hover {
  background-color: #ee930c;
}

/* SEKSJON PÅ INDEX.HTML OG ABOUT.HTML  */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  padding: 0 20px;
  flex-grow: 1;

}
.wrapper h2 {
  margin-bottom: 25px;
  font-weight: bolder;
  
}
.wrapper article {
  background-color: white;
}

.wrapper article h3 {
  margin-bottom: 25px;
}


.wrapper figcaption {
  background-color: silver;
  padding: 5px;
}


/* Responsive, for skjermer bredere enn 600px */
@media screen and (min-width: 600px) {
  .wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
  .wrapper h2 {
    align-self: start;
    width: 100%;
  }

}



#google-map {

}

.google-map {
  padding-bottom: 0%;
  position: relative; 
}

.google-maps iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute; 
}





footer {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  background-color:#252525;
  color: white;
  padding: 2rem;
}


footer a img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  background-color: white;
}


#footer-logo {
  background-color: transparent;
  width: 60px;
  height: 60px;
  margin: 0 10px;
}



span {
   midstille copyright teksten 
  font-size: 15px; 
}




/* Media quieries / responsitvt design / Mobile first */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  nav a {
    margin: 10px 0;
  }

  #branding article,
  #design article, 
  #developement article {
    max-width: 100%;
  }
}

/* Skjermer som er MINST 768px og bredere */ 
@media screen and (min-width: 768px) {
  nav {
    display: flex; 
  }
}



